<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Due date</th>
    <% if !defined?(@hide_course_name) || !@hide_course_name %>
      <th>Course</th>
    <% end %>
    <% if current_user.group.teacher? %>
      <th>Active</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.title %></td>
      <td><%= assignment.description %></td>
      <td><%= assignment.due_date %></td>
      <% if !defined?(@hide_course_name) && !@hide_course_name %>
        <td><%= assignment.course.name %></td>
      <% end %>
      <% if current_user.group.teacher? %>
        <td>
          <%= form_for assignment do |f| %>
            <%= f.check_box :active, :onclick => 'this.form.submit()' %>
          <% end %>
        </td>
      <% end %>
      <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>