<h2><%= @user.name %>'s Teacher Page</h2>

<%= link_to 'Create New Course', new_course_path, class: "btn btn-medium btn-primary"%>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>